header {
width: 100%;
display: flex;
justify-content: space-between;
}

.logoHeader{
display: flex;
align-items: end;
width: 142px;
height: 98px;
background-color: #1C232D;
color: white;
padding: 10px;
}

ul {
width: 10%;
display: flex;
justify-content: space-around;
list-style: none;
}

@media screen and (max-width: 992px) {
ul {
display: flex;
flex-direction: column;
}
}